{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- for Twitter -->  
  {% block twitter %}        
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@khanaziz84" />
  <meta name="twitter:creator" content="@khanaziz84" />
  <meta name="twitter:title" content="JASPAR 2018: An open-access database of transcription factor binding profiles" />
  <meta name="twitter:url" content="http://{{ request.get_host }}" />
  <meta name="twitter:description" content="JASPAR is the largest open-access database of curated and non-redundant transcription factor (TF) binding profiles from six different taxonomic groups." />
  <meta name="twitter:image" content="https://bytebucket.org/CBGR/jaspar/raw/c78fd1a887b808f96d03310a72df65fb35b0e8e1/static/img/jaspar_logo_2018.png" />
  {% endblock %}
  <!-- for Facebook -->  
  {% block facebook %}        
  <meta property="og:title" content="JASPAR 2018: An open-access database of transcription factor binding profiles" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://bytebucket.org/CBGR/jaspar/raw/c78fd1a887b808f96d03310a72df65fb35b0e8e1/static/img/jaspar_logo_2018.png" />
  <meta property="og:url" content="http://{{ request.get_host }}" />
  <meta property="og:description" content="JASPAR is the largest open-access database of curated and non-redundant transcription factor (TF) binding profiles from six different taxonomic groups." />
  {% endblock %}

  <meta name="description" content="JASPAR is the largest open-access database of curated and non-redundant transcription factor (TF) binding profiles from six different taxonomic groups."/>
  <meta name="keywords" content="JASPAR, 2018, SELEX, ChIP-seq, matrices, HT-SELEX, DAP-seq, profiles, transcription factor, TFBs, TFs, MEME, TRANSFAC, TF binding, PFM, PWM, TFFM, Position Weight Matrices, PWMs, PSSMs, JASPAR REST, RESTful API"/>

  <title>JASPAR -{% block title %}{% endblock %} </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="r4fkTjq5Hp4UlRVWNKyuDZ4se34zD83f0t-qJBEO1vk" />

  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/css/academicons.min.css" integrity="sha512-NThgw3XKQ1absAahW6to7Ey42uycrVvfNfyjqcFNgCmOCQ5AR4AO0SiXrN+8ZtYeappp56lk1WtvjVmEa+VR6A==" crossorigin="anonymous">

  <!-- DataTables 
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  -->
  <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">
  <!--
  <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">
  -->
  <!-- hopscotch -->
  <link rel="stylesheet" href="{% static 'plugins/hopscotch/css/hopscotch.min.css' %}">

   <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">

   <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

 
  <link rel="stylesheet" href="{% static 'css/skins/skin-black-light.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% block stylesheets %}

  {% endblock %}

</head>

<body class="hold-transition skin-black-light fixed sidebar-mini {% if request.view == 'profile-versions' %}sidebar-collapse{% endif %}">
<div class="wrapper">
{% include "portal/header.html" %}

<!-- Left side column. contains the logo and sidebar -->
{% include "portal/sidebar.html" %}
   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block main_header %}
    <section class="content-header">
      <h1>
        {% block content_header %}{% endblock %}
      </h1>
      <ol class="breadcrumb">
        {% block breadcrumb %}{% endblock %}
      </ol>
    </section>
    {% endblock %}
  
    <!-- Main content -->
    <section class="content">

    {% block content %}{% endblock %}
    
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
   <!-- Main Footer -->

    {% include "portal/footer3.html" %}

  <!-- News Sidebar -->
  {% include "portal/news_sidebar.html" %}
  
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- DataTables 
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
-->
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
<!--
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
-->


<!-- hopscotch -->
<script src="{% static 'plugins/hopscotch/js/hopscotch.min.js' %}"></script>

<!-- SlimScroll -->
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>

<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>


<!-- AdminLTE App -->
<script src="{% static 'js/app.min.js' %}"></script>

{% block datatable %} {% endblock %}

<script type="text/javascript">

$('#selectAllProfiles').click (function () {
     var checkedStatus = this.checked;
    $('#search_table tbody tr').find('td:last :checkbox').each(function () {
        $(this).prop('checked', checkedStatus);
     });
});

  //Popover
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        //placement : 'top',
        trigger : 'hover'
    });
});

    
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });


      $('#check-all').on('ifChecked', function(event) {
          $('.flat-red').iCheck('check');
      });
      $('#check-all').on('ifUnchecked', function(event) {
          $('.flat-red').iCheck('uncheck');
      });
      // Removed the checked state from "All" if any checkbox is unchecked
      $('#check-all').on('ifChanged', function(event){
          if(!this.changed) {
              this.changed=true;
              $('#check-all').iCheck('check');
          } else {
              this.changed=false;
              $('#check-all').iCheck('uncheck');
          }
          $('#check-all').iCheck('update');
      });

  </script>

    {% block javascript %}{% endblock %}

    <script type="text/javascript">
      // Add custom validation rule
    $.formUtils.addValidator({
      name : 'fasta_file',
            validatorFunction : function(value, $el, config, language, $form) {

               if (value.charAt(0) == ">"){
                return true;
               }else{
                return false;
               }
            },
            errorMessage : 'Make sure your sequence is <a href="https://en.wikipedia.org/wiki/FASTA_format" target="_blank">fasta-formatted</a>',
          });
          // Setup form validation
          $.validate();
           

    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100644322-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>

 