{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
 {{ news.title }}
{% endblock %}

{% block content_header %}
 News and Updates
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="/blog">Blog</a></li>
  <li class="active">{{ post.title }}</li>
{% endblock %}

{% block content %}

    <div class="row">
            
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"> </i> {{ post.title }}</h3>
               <div class="box-tools pull-right">

              <a href="https://twitter.com/intent/tweet?text={{ post.title }} {{ request.get_host }}/blog/{{ post.date.year }}/{{ post.date.month|stringformat:'02d' }}/{{ post.date.day|stringformat:'02d' }}/{{ post.slug }}&url=%5Bobject%20Object%5D" target="_blank">
              <img src="{% static 'img/tweet.svg' %}"></a>
              </div>

              </div>
            <!-- /.box-header -->
            <div class="box-body">

            <p>{{ post.content|safe }}</p>
            
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>


        <div class="col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bullhorn"></i>
                <h3 class="box-title">Latest blog posts</h3>

              </div>
            <!-- /.box-header -->
            <div class="box-body">

          <ul class="timeline">

            {% for post in posts %}
          
             <li>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{ post.date|date }}</span>

                <h3 class="timeline-header"><a href="/blog/{{ post.date.year }}/{{ post.date.month|stringformat:'02d' }}/{{ post.date.day|stringformat:'02d' }}/{{ post.slug }}">{{ post.title }}</a></h3>

                <div class="timeline-footer">
                   
                  <a class="btn btn-primary btn-xs pull-right" href="/blog/{{ post.date.year }}/{{ post.date.month|stringformat:'02d' }}/{{ post.date.day|stringformat:'02d' }}/{{ post.slug }}">Read more..</a>
                </div>
              </div>
            </li>

          {% endfor %}

          </ul>

              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>



    </div>

{% endblock %}