 {% load static %}
 <!-- To the right -->

   <footer class="main-footer">

    <div class="row" >
                
     <div class="col-md-5 col-sm-10 col-xs-12">
      <div class="info-box">
      <b><font style="color:#dd4b39">JASPAR</font></b> is an open-access database of curated, non-redundant transcription factor (TF) binding profiles stored as position frequency matrices (PFMs) and TF flexible models (TFFMs) for TFs across multiple species in six taxonomic groups.  <br><br>

        You are using the latest 7th release (<strong>2018</strong>)  of JASPAR.

        <hr>
        

           <!--
   
      <a href="http://albinsandelin.wixsite.com/sandelinlab" target="_blank"><img class="img-responsive1" src="{% static 'img/ku_logo.jpg' %}" alt="KU" width="150px"> </a> <a href="https://lms.mrc.ac.uk/research-group/computational-regulatory-genomics/" target="_blank"><img class="img-responsive1" src="{% static 'img/mrc_logo.jpg' %}" alt="MRC" width="150px"></a>
        <a href="http://cmmt.ubc.ca/wasserman-lab/" target="_blank"><img class="img-responsive1" src="{% static 'img/cmmt_ubc.jpg' %}" alt="CMMT" width="150px"></a>

         <a href="https://mathelierlab.com/" target="_blank"><img class="img-responsive1" src="{% static 'img/ncmm.png' %}" alt="NCMM" width="150px"></a>
     -->
      </div>
     </div>

      
        <!-- /.col -->
        <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="info-box1">
            <p><a href="/about"><i class="fa fa-info-circle"></i> About JASPAR</a> </p>
            <p><a href="/tour"><i class="fa fa-file-video-o"></i> JASPAR video tour</a> </p>
            <p><a href="/blog"><i class="fa fa-rss"></i> Blog and News</a> </p>          
            <p><a href="/contact-us"><i class="fa fa-envelope-o"></i> Contact Us </a></p>

          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="info-box1">
            <p><a href="/profile-versions"><i class="fa fa-copy"></i> Profile versions</a> </p>
            <p><a href="/changelog"><i class="fa fa-history"></i> Changelog</a> </p>
            <p><a href="http://jaspar2016.genereg.net/"  target="_blank"><i class="fa fa-external-link"></i> JASPAR 2016 </a></p>
            <p><a href="http://jaspar2014.genereg.net/"  target="_blank"><i class="fa fa-external-link"></i> JASPAR 2014 </a></p>

          </div>

        </div>
            
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="col-md-6">
                <a href="http://albinsandelin.wixsite.com/sandelinlab" target="_blank"><img class="img-responsive" src="{% static 'img/ku_logo.jpg' %}" alt="KU" width="100%"> </a>
                <a href="http://cmmt.ubc.ca/wasserman-lab/" target="_blank"><img class="img-responsive" src="{% static 'img/cmmt_ubc.jpg' %}" alt="CMMT" width="100%"></a>
             </div>
            <div class="col-md-6">
              <a href="https://lms.mrc.ac.uk/research-group/computational-regulatory-genomics/" target="_blank"><img class="img-responsive" src="{% static 'img/mrc_logo.jpg' %}" alt="MRC" width="100%"></a>
              <a href="https://mathelierlab.com/" target="_blank"><img class="img-responsive" src="{% static 'img/ncmm.png' %}" alt="NCMM" width="100%"></a>
            </div>

        </div>
                
    </div>

        <div class="row">
         
         <div class="col-sm-12">
            <p class="pull-right"><a href="https://twitter.com/jaspar_db?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @jaspar_db</a></p>            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
             <hr>
            <p style="text-align: center;">
            <b><font style="color:#dd4b39">JASPAR</font></b>  is brought to you by a collaborative effort of several research labs and it is licensed under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"> <i class="fa fa-creative-commons" aria-hidden="true"></i> </a> Creative Commons Attribution 4.0 International License.

            </p>
        </div>
       </div>

   </footer>