{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@khanaziz84" />
    <meta name="twitter:creator" content="@khanaziz84" />
    <meta name="twitter:title" content="JASPAR RESTful API" />
    <meta name="twitter:url" content="http://jaspar.genereg.net/api" />
    <meta name="twitter:description" content="A RESTful API to access the latest version of JASPAR database programmatically." />
    <meta name="twitter:image" content="http://hfaistos.uio.no:8000/static/img/jaspar_logo_2018.png" />
    
    <!-- for Facebook -->          
    <meta property="og:title" content="JASPAR RESTful API" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://hfaistos.uio.no:8000/static/img/jaspar_logo_2018.png" />
    <meta property="og:url" content="http://jaspar.genereg.net/api" />
    <meta property="og:description" content="A RESTful API to access the latest version of JASPAR database programmatically." />


    <meta name="description" content="A RESTful API to access the latest version of JASPAR database programmatically.">
    <meta name="author" content="Aziz Khan">

    <title>{% block title %} {% endblock %}</title>

  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
{% block stylesheets %}
   
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/prettify.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/default.css' %}"/>
{% endblock %}


  <!-- Custom styles for this template -->
  <style type="text/css">
    /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
  </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target="#toc" class="swagger-section">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/api/"><i class="fa fa-jsfiddle" style="color:#dd4b39" aria-hidden="true"></i> <b> <font style="color:#dd4b39">JASPAR</font> </b> REST API</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.view == 'api-home' %}active{% endif %}"><a href="/api/">Home</a></li>
            <li class="{% if request.view == 'api-browsable' %}active{% endif %}"><a href="/api/v1/">Browsable API</a></li>

            <li class="{% if request.view == 'overview' %}active{% endif %}"><a href="/api/v1/overview">API Overview</a></li>
            <li class="{% if request.view == 'apidocs' %}active{% endif %}"><a href="/api/v1/docs">Documentation</a></li>
           {% if request.get_host != 'jaspar2018.genereg.net' %}
            <li class="{% if request.view == 'live' %}active{% endif %}"><a href="/api/v1/live/#/v1" target="_blank">Live API</a></li>
           {% endif %}

            <!--
            <li class="{% if request.view == 'clients' %}active{% endif %}"><a href="/api/v1/clients">API Clients</a></li>
            -->
            
            <li class="{% if request.view == 'contact' %}active{% endif %}"><a href="/contact-us">Contact Us</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container theme-showcase" role="main">

      <div class="page-header">
      <h1>
        {% block content_header %}
        {% endblock %}
        </h1>
      </div>

      {% block breadcrumb %}


      {% endblock %}
     
      
      {% block content %}{% endblock %}


    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted"> 

A RESTful <button type="button" class="btn btn-danger btn-circle"> {API} </button> to programmatically access the latest version of <a href="/">JASPAR</a> database.
         </p>
      </div>
    </footer>

   <!-- jQuery 2.2.3 -->
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.js"></script>


{% block javascript %}
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100644322-2', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>